




<% @image_posts.each do |x| %>
    <div class="post-box well">
      <% if user_signed_in? %>
          <button type="button" class="btn btn-info pull-right like-button">Like</button>
      <% end %>

      Posted by: <%= link_to x.user.username, x %><br />
      Title: <%= x.title %><br />

      <% if x.image? %>
          <%= image_tag x.image.url %>
      <% else %>
          <p class="alert">Image not found.</p>
      <% end %>


    </div>
<% end %>


