




<% @image_posts.each do |x| %>
    <div class="post-box well">
      <% if user_signed_in? %>
          <%= link_to "Like", like_image_path(:ref_num => x.id), type: "button", class: "btn btn-info pull-right like-button" %>
      <% end %>

      Posted by: <%= link_to x.user.username, user_path(x) %><br />
      Title: <%= x.title %><br />

      <% if x.image? %>
          <%= image_tag x.image.url %>
      <% else %>
          <p class="alert">Image not found.</p>
      <% end %>

    </div>
<% end %>


