
<% if user_signed_in? %>
Welcome back, <%= current_user.username %>
<% end %>


Click HERE to begin make your own post posts.




Show all posts here. If the user is signed in, also show a like button.









<div style="background-color: moccasin; padding: 20px; width: 600px;">
  <%= link_to 'See a list of our amazing users!', users_path %>
</div>