// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.nav-logo {
  height:46px;
}

#content-zone {
  padding-top: 80px;
}


.post-box {
  .alert {
    color: #B00100;
    font-weight: bold;
  }

}

.like-button {
  //margin-right: -12px;
}