<!-- About modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About This Site</h4>
      </div>
      <div class="modal-body">
        This site was put together by <strong>Joshua Stowers</strong> in an attempt to demonstrate to <strong>Jason Straughan</strong> that he is in fact an adequate Ruby on Rails developer.<br /><br />
        It features the exact scenario described during the interview, and implements a polymorphic backend in order to supply a more scalable solution for the "like" feature.<br /><br />
        The site was produced in a single evening (starting at 11:00PM) without any aide from other developers. =)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>